[Unit]
Description=Default ACL entries for Control Plane Protocol packets
After=sonic-create-interface.service
Wants=sonic-create-interface.service
DefaultDependencies=no

[Service]
Type=oneshot
EnvironmentFile=/etc/sonic/sonic-environment
ExecStart=/usr/bin/base_acl_copp_svc.sh
RemainAfterExit=yes

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
